<app-header></app-header>

<ion-content class="ion-padding">
  <div 
    class="gif-container" 
    style="
      display: flex; 
      justify-content: center; 
      align-items: center; 
      height: 80vh; 
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;
    "
  >
    <img 
      src="https://media4.giphy.com/media/3o7btQ0NH6Kl8CxCfK/giphy.gif?cid=6c09b952yug7ki3kfsibjexb0oz2b148cuvsz5910m4rp94d&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g" 
      alt="Loading animation" 
      style="max-width: 100%; height: auto; max-height: 60vh;"
    />
  </div>
</ion-content>
<app-footer></app-footer>