<ion-footer class="ion-no-padding tight-footer">
  <div *ngIf="!getGlobalError()" class="note grey-message" align="center">
    <blockquote style="font-size: 0.85rem;">
      ❝This is a debugger Ionic app to demostrate the code and debug Keycloak services with Redis and Spring Boot Security❞
      <br>
      <a class="font-link" href="assets/doc/spring-boot-keycloak-mysql-demo-guide.docx" target="_blank">
        <b>&nbsp;Documentation&nbsp;</b> |
      </a>
      <b (click)="openSlideModal()" class="font-link">&nbsp;Feedback&nbsp;</b> |
      <a class="font-link" href="https://github.com/pcyuen98/spring-boot-keycloak-mysql-demo" target="_blank">
        <b>&nbsp;GIT HUB&nbsp;</b>
      </a>
    </blockquote>
  </div>

  <ion-card *ngIf="getGlobalError()">
    <error-be #errorBEComponent [errorApp]="getGlobalError()" [pageBaseComponent]="this"></error-be>
  </ion-card>
</ion-footer>
